* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    --heading-font:48px;
    --heading-weight:700;
    --heading-line-height:60px;
    --heading-color:#0B0223;

    --description-font:18px;
    --description-weight:400;
    --description-height:30px;
    --description-color:#534C64;

    --button-font:20px;
    --button-weight:600;

    --menu-font:18px;
    --menu-weight:500;



    /* --gradient-color-1:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --gradient-color-2:linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */

    --global-width:75vw;

    --background-1:#FF42A5;
    --background-2:#0B0223;

    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */

}

@media screen and (max-width: 425px) {
    .hide {
        display: none;
    }

    header {
        width: 100vw;
    }

    /* .description{
        width: 100px;
        border: 2px solid red;
    } */


    /* .banner-section img{
        width: auto;
        height: auto;
    } */

    nav {
        height: 100px;
        width: var(--global-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;

    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

    .cards{
        flex-direction: column;
    }
}