@import url('https://fonts.googleapis.com/css2?family=Work+Sans:&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --heading-font: 48px;
    --heading-weight: 700;
    --heading-line-height: 60px;
    --heading-color: #0B0223;

    --description-font: 18px;
    --description-weight: 400;
    --description-height: 30px;
    --description-color: #534C64;

    --button-font: 20px;
    --button-weight: 600;

    --menu-font: 18px;
    --menu-weight: 500;



    /* --gradient-color-1:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --gradient-color-2:linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */

    --global-width: 75vw;

    --background-1: #FF42A5;
    --background-2: #0B0223;
    --background-3: #FFF9FC;

    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
    --global-radius: 8px;

    --global-gap: 120px
}

.primary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none;
}

.heading {
    font-size: var(--heading-font);
    font-weight: var(--heading-weight);
    color: var(--heading-color);
}

.description {
    font-size: var(--description-font);
    font-weight: var(--description-weight);
    color: var(--description-color);
}

.menu {
    font-size: var(--menu-font);
    font-weight: var(--menu-weight);
}

.btn-primary {
    padding: 21px 40px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
}

a {
    text-decoration: none;
}

header{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    width: var(--global-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;

}

nav .logo .color {
    color: #FF42A5;
}

nav .logo .color .frame {
    width: 80px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav .menu-section .follow-us {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 15px 25px;
    border-radius: var(--global-radius);
    -webkit-border-radius: var(--global-radius);
    -moz-border-radius: var(--global-radius);
    -ms-border-radius: var(--global-radius);
    -o-border-radius: var(--global-radius);
    display: flex;
    align-items: center;
    gap: 25px;
}

.banner-section {
    width: var(--global-width);
    display: flex;
    justify-content: space-between;
}

.banner-section .b-heading {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-section .b-goat {
    font-size: 95px;
    font-weight: 800;
    color: #F948B2;
}

.banner-section .b-menu {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-description {
    background: url("./images/Group\ 14.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.banner-description .banner-button #btn1 {
    background-color: #FF42A5;
}

.banner-description .banner-button #btn2 {
    background-color: #4EC5F7;
}


.we-are-gamer {
    width: var(--global-width);
    display: flex;
}

.we-are-gamer .wag-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.we-are-gamer .wag-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.we-are-gamer .wag-box .heading {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.we-are-gamer .wag-box {
    text-align: right;
}

.we-are-gamer .wag-box #btn3 {
    background-color: #FF42A5;
}

.online-games {
    width: var(--global-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.online-games .funny-videos{
    color: #FF42A5;
}

.online-games p{
    width: auto;
}

.online-games .cards {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.online-games .cards .c-container .overlay{
    border-radius: 15px;
    background:black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.online-games .cards .c-container img:hover{
   opacity: 0.5;
}

.online-games .cards .c-container .c-description{
    width: 90%;
    background: #fff;
}

.play-section {
    margin-top: var(--global-gap);
    display: flex;
    flex-direction: column;
    width: var(--global-width);
    gap: 150px;
}

.play-section .play-instant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-section .play-instant .sec-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin-right: 15%;
}

.play-section .play-games {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


.play-section .play-games .sec-description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-left: 15%;
}

.play-section .p-color{
    color: #FF42A5;
}

.play-section .play-img {
    width: auto;
    position: relative;
}

.play-section .play-instant .play-img .ab-img1 {
    position: absolute;
    left: -20%;
    bottom: -10%;
}

.play-section .play-games .play-img .ab-img2 {
    position: absolute;
    right: -20%;
    bottom: -10%;
}

.career-section {
    margin-top: calc(var(--global-gap) + 50px);
    width: 100%;
    background-color: #FF42A5;
    color: #fff;
}

.career-wrapper {
    width: var(--global-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.career-wrapper .carrer-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-section {
    width: 100%;
    background-color: var(--background-3);
    padding: 120px 0px;
}

.button-section .btn-wrapper{
    margin: 0 auto;
    width: var(--global-width);
    text-align: center;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-section .btn-primary {
    margin: 30px;
    background-color: #fff;
    color: #0B0223;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.button-section .btn-wrapper .btn-primary:hover{
    outline: 2px solid #FF42A5;
    color: #FF42A5;
    box-sizing: border-box;
}

footer {
    padding: 130px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--background-2);
    color: #fff;
}

footer .heading {
    color: #fff;
}

footer .heading .logo .color {
    color: #FF42A5;
}

footer .heading .logo .color img {
    margin-right: 20px;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer .icons {
    display: flex;
    gap: 35px;
}

footer .icons .btn-icon {
    background: none;
    border: none;
}

footer .policy {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .policy div{
    display: flex;
    gap: 50px;
}

footer .policy p{
    margin-top: 20px;
}

/* large-mobile */
@media screen and (max-width: 425px) {
    .hide {
        display: none;
    }
    
    .description {
        width: 250px;
    }

    nav, nav .menu-section, .banner-section, .cards, .we-are-gamer, .play-section .play-instant, .play-section .play-games, .career-section .career-wrapper {
        flex-direction: column;
    }

    .online-games {
        text-align: center;
    }

    .cards .c-container img {
        max-width: 100%;
    }

    .play-section {
        flex-direction: column;
    }

    .play-section .play-instant .play-img {
        margin-left: auto;
        width: 85%;
        height: auto;
    }

    .play-section .play-instant #back1 #img1 {
        display: block;
        max-width: 100%;
        margin-left: auto;
    }

    .play-section .play-img .ab-img1 {
        max-width: 40%;
    }


    .play-section .play-games .play-img {
        margin-right: auto;
        width: 85%;
        height: auto;
    }

    .play-section .play-games #back2 #img2 {
        display: block;
        max-width: 100%;
        margin-left: auto;
    }

    .play-section .play-img .ab-img2 {
        max-width: 40%;
    }

    footer{
        width: 100vw;
    }

}